:root {--primary-white-color: #ffffff;
    --primary-accent-color: #2e2f42;
    --primary-gray-color: #434455;
    --primary-blue-color: #4D5AE5;
    --primary-semigrey-color:#8e8f99;
    --primary-semiwhite-color:#f4f4fd;
    --primary-focus-color:#404bbf;} 
    body {
        font-family: "Raleway" sans-serif;
        font-family: "Roboto", sans-serif;
        background-color: #FFFFFF;
        color: #434455;
    }
    img {
        display: block;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    a {
        text-decoration: none;
    }
    img {
        display: block;
    }
    ul,
    ol {list-style: none;
        margin: 0px;
        padding-left: 0px;
    }
    .logo {text-decoration: none;
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        position: relative;
         color: #404bbf;
        }
 @media screen and (min-width:768px) {
    .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
       margin-right: 120px;
        position: relative;
             color: #404bbf;
        }}

 .header-logo-black {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-accent-color);
    }
 .header-item {list-style: none;
    font-weight: 500;
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-link {text-decoration: none;
    padding: 24px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-accent-color);
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    }
    .header-link.active {color:#404bbf;}
    .header-link.active::after {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        bottom: -1px;
    }
.header-links {list-style: none;}
.link {text-decoration: none;
}
.name {
    font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: #2E2F42;
background-color: #FFFFFF;
text-align: center;
margin-bottom: 8px;
}
.section-hero {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgroundmob.jpg); 
    padding: 112px 0;
    max-width: 428px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 432px;
    margin: 0 auto;
}
    @media screen and (min-width:768px) {
        .section-hero {
            background-color: #2E2F42;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/darkpgtablet.jpg); 
            padding: 112px 0;
            max-width: 768px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 432px;
            margin: 0 auto;
        }}
        .hero-title {
            font-weight: 700;
        font-size: 36px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--primary-white-color);
        max-width: 398px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 48px;
        }
    @media screen and (min-width:768px) {
        .hero-title {
            font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--primary-white-color);
        max-width: 496px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 48px;
        }}

        .hero-btn {
            width: 169px;
            height: 56px;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.50;
            letter-spacing: 0.04em;
            color: var(--primary-white-color);
            background-color: var(--primary-blue-color);
            cursor: pointer;
            border-radius: 4px;
            border:none;
            display: block;
            min-width: 169px;
            margin-right: auto;
            margin-left: auto;
            transition : background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
   
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    } 

    .service {font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        }
        .list-nav {  text-decoration:none;
            list-style: none;
            display: none;
            gap: 40px;
            position: relative;
            color: #404bbf;
            
        }
        @media screen and (min-width:768px) {
            .list-nav {
                display: flex;
                gap: 40px;
            }}
            .list-nav-adr {
                display: flex;
                margin-left: auto;
                padding: 24px 0;
                gap: 40px;
            }
            @media screen and (min-width:768px) {
                .list-nav-adr {
                    display: block;
                margin: 0;
                padding-left: 0;
                gap: 40px;
        
            }}
        @media  screen and (min-width:1158px) {
            .list-nav-adr {
                display: flex;
                
            }}
            .parag {
                font-weight: 400;
            font-size: 16px;
            line-height: 1.50;
            letter-spacing: 0.02em;
            color: #434455;
            text-align: center;
            background-color: var(--primary-white-color);
            display: block;
            margin-bottom: 8px;
            }
    .parag-port {font-family: 'Roboto';
                font-style: normal;
                 font-weight: 400;
                 font-size: 16px;
                 line-height: 24px;
                 letter-spacing: 0.02em;
                 color: #434455;}
    .adv {list-style: none;}
    .ourimg {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42; 
        width: calc((100% - 48px) / 3);
        }
        .wawd-list {
            display: flex;
            gap: 24px;
        }
        .footer {
            background-color: #2e2f42;
            padding: 100px 0;
        }
                 
        .footer-link {
            font-family: "Raleway", sans-serif;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4D5AE5;
            display: inline-block;
            margin-right: 0 auto;
            margin-bottom: 16px;
            display: block;
            justify-content: center;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        
            }
                 @media screen and (min-width:768px) {
                    .footer-link {text-align:start;
                        font-family: "Raleway", sans-serif;
                        font-weight: 800;
                        font-size: 18px;
                        line-height: 1.17;
                        letter-spacing: 0.03em;
                        text-transform: uppercase;
                        color: #4D5AE5;
                        margin-right: 0 auto;
                        margin-bottom: 16px;
                        justify-content: center;
                        margin-left: auto;
                        margin-right: auto;
                        }}
                 .logo-white {color: #F4F4FD}
                 .footer-p  {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.50;
                    letter-spacing: 0.02em;
                    color: #F4F4FD;
                    max-width: 264px;
                    margin-right: auto;
                    margin-left: auto;
                    text-align: start;
                    }
                    @media screen and (min-width:1158px) {
                        .footer-p {width: 264px;}
                    }
                    .btnlist {list-style: none;}
                    .btn {background: #F4F4FD;
                        border: 1px solid #E7E9FC;
                        color:var(--primary-blue-color);
                        font-family: "Roboto", sans-serif; 
                        font-weight: 500;
                        line-height: 1.5;
                        letter-spacing: 0.04em;
                        cursor: pointer;
                        padding: 12px 24px 12px;
                        border-radius: 4px;
                        }
                        .list-adv { display: flex;
                            flex-wrap: wrap;
                            text-align: center;
                        list-style: none;}
                        @media  screen and (min-width:428px) {
                            .list-adv {
                                display: flex;
                                gap: 72px 24px;
                                flex-wrap: wrap;
                                text-align: center;
                            }}
                            @media screen and (min-width:768px) {
                                .list-adv {
                                    display: flex;
                                    gap: 72px 24px;
                                    flex-wrap: wrap;
                                }}
                                .list-photo-cv {
                                    display: flex;
                                    gap: 64px 24px;
                                    justify-content: center;
                                    flex-wrap: wrap;
                                }
                        
                        .list {list-style: none;
                            }
                         
                         
                        .link {text-decoration: none;
                          }
                          .hclass {
                            font-weight: 700;
                            font-size: 36px;
                            line-height: 1.11;
                            text-align: center;
                            letter-spacing: 0.02em;
                            text-transform: capitalize;
                            color: var(--primary-accent-color);
                            margin-bottom: 72px;
                        }
                        .header-adr-item {
                            text-decoration: none;
                        }
                        .links {
                            font-size: 12px;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 14px;
                            letter-spacing: 0.48px;
                            color: #2E2F42;
                            width: 153px;
                            height: 24px;
                            padding: 24px 0;
                            gap: 40px;
                            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                        }
                            @media  screen and (min-width:1158px) {
                                .links {
                            
                                font-size: 16px;
                                line-height: 1.5;
                                letter-spacing: 0.02em;
                                color: var(--primary-accent-color);
                                padding: 24px 0 24px;
                                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                            }}
                            .header-adr {
                                font-style: normal;
                                    display: none;
                                    gap: 40px;
                                    margin-left: auto;
                                }
@media screen and (min-width:768px) {
    .header-adr {
        display: flex;
    }}
    .section-ourteam {
        background-color: #F4F4FD;
        padding: 120px 0;
    }
    .photo {
        width: 264px;
        background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.photo img {
    margin: 0 auto;
}
   
       

.list .header-link:hover,
 .list .header-link:focus {color: #404bbf}
 .list .links:hover,
.list .links:focus {color: #404bbf}
.hero-btn:hover,
.hero-btn:focus {background-color: #404BBF}
.logo-port {font-family: 'Raleway', sans-serif;
                                font-style: normal;
                                font-weight: 800;
                                font-size: 18px;
                                line-height: 1.17;
                                color:var(--primary-blue-color);
                                margin-right: 76px;
                                letter-spacing: 0.03em;
                                text-transform: uppercase;
                                flex: none;
                                text-decoration: 0;}
                                .btn:hover, .btn:focus {background-color: #404BBF;
                                color:var(--primary-white-color); 
                                border: 1px solid transparent;}
                                .ptitle {font-weight: 500;
                                    margin-bottom: 8px;
                                    font-size: 20px;
                                    line-height: 1.2;
                                    letter-spacing: 0.02em;
                                color:var(--primary-accent-color)}
.header {border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    height: 75px;
    width: 100%;}
    @media screen and (min-width:768px) {
        .header {height: 73px;
            border-bottom: 1px solid #e7e9fc;
            box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
            }}
.div {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
@media screen and (min-width:768px) {
    .div {
        height: 72px;
        max-width: 768px;
    }}
    .container {
        max-width: 428px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
@media  screen and (min-width:428px) {
    .container {
        max-width: 428px;
    }
}
@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }}
    @media  screen and (min-width:1158px) {
        .container {
            max-width: 1158px;
    }}
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 72px 24px;
    }
    @media screen and (min-width:768px) {
        .footer-container {
            max-width: 584px;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            text-align: start;
            row-gap: 72px;
            column-gap: 24px;
        }}
        @media  screen and (min-width:1158px) {
          .footer-container {display: flex;
            flex-wrap: unset;
            align-items: baseline;}}
        .nav {list-style: none;
            display: flex;
            align-items: center;
            color: #404bbf;
        }

.section-advantages {padding: 96px 0;
    }
    .adv-list {
        display: flex;
        gap: 72px 24px;
        flex-wrap: wrap;
    }
    .adv-li {
        width: 396px;
        display: list-item;
    }
        @media screen and (min-width:768px) {
            .adv-li {
            width: 356px;
            display: list-item;
            text-align: left;
        }}
        

   

        .section-wawd {
            padding-bottom: 120px;
            display: none;
        }
        @media  screen and (min-width:1158px) {
            .section-wawd {
                display: flex;
            }}
            .work {
                padding: 32px 16px;
                text-align: center;
                width: 100%;
            }
    .portfolio {padding: 96px 0 120px 0;}
    .butlist {display: flex;
        list-style: none;
        justify-content: center;
        gap: 24px;
        margin-bottom: 72px;}
        .list-photo {display: flex;
            list-style: none;
            flex-wrap: wrap;
             column-gap: 24px;
             row-gap: 48px;
            }
            .img {display: block;
            max-width: 100%;
        height: auto;}
            .photo-port {width: calc((100% - 48px) / 3);
                transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
            .photo-port:hover, .photo-port:focus {box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);}
            
            .photo-port:hover .overlay-text { transform: translateY(0);}
            
            .divport {padding: 32px 16px;
                border: 1px solid #e7e9fc;
                border-top: none;
            }
            .link-photo {text-decoration: none;
                }
                .namepower {
                    font-weight: 700;
                font-size: 36px;
                line-height: 1.11;
                letter-spacing: 0.02em;
                color: var(--primary-accent-color);
                margin-bottom: 8px;
                text-align: center;
                text-transform: capitalize;
                }
                @media screen and (min-width:768px) {
                    .namepower {
                        text-transform: capitalize;
                        text-align: left;
                    }}
                    .paragraf {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 1.5;
                        letter-spacing: 0.02em;
                        color: var(--primary-gray-color);
                    }
                   
                    .icons {
                        display: none;
                        align-items: center;
                        justify-content: center;
                        height: 112px;
                        background-color: #f4f4fd;
                        border-radius: 4px;
                        margin-bottom: 8px;
                    }

                    .soc-con {
                        display: flex;
                        gap: 24px;
                        justify-content: center; 
                        flex-wrap: wrap;
                    }
                    .soc-item {
                        width: 40px;
                        height: 40px;
                        background-color: var(--primary-blue-color);
                        border-radius: 50%; 
                        gap: 24px;
                    }
                    .icn {
                        width: 100%;
                        height: 100%;
                        background-color: var(--primary-blue-color);
                        border-radius: 50%;
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        transition :background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    }
    .icn:hover, .icn:focus  {background-color: #404bbf;}
     
    .icn-ccc {fill:#f4f4fd;
        }
   
      
      .icn-ccc:hover {
        animation: shake 1s;
      }
      @keyframes shake {
        0% {
          transform: rotate(0deg);
        }
        10% {
          transform: rotate(-10deg);
        }
        20% {
          transform: rotate(10deg);
        }
        30% {
          transform: rotate(-10deg);
        }
        40% {
          transform: rotate(10deg);
        }
        50% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(0deg);
        } 
      }
      .section-customers {
        padding-top: 96px;
        padding-bottom: 96px;
    }
  
    .customers {
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
    }
    .companies-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 16px;
    
    }
        @media screen and (min-width:768px) {
            .companies-list {
                display: flex;
                flex-wrap: wrap;
                gap: 72px 24px;
                justify-content: center;
            
            }}
      
            .companies {
                width: calc((100% - 16px) / 2);
                height: 88px;
            }
        @media screen and (min-width:768px) {
            .companies  {
                width: 168px;
                height: 88px;
          }}
        
          .com-icon {
            width :100%;
            height : 100%;
            border: 1px solid #8e8f99;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #8e8f99;
            transition : border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
.com-icon:focus, .com-icon:hover {border-color: #404bbf;
    color: #404bbf;}
    .comp-col {fill: currentColor;}
    .foot-cont {
        padding-left: 60px;
        display: list-item;
    text-align: center;
    list-style: none;
    }
    @media screen and (min-width:768px) {
        .foot-cont {padding-left: 0;
            padding-right: 30px;
           margin: 0 auto;
           margin-right: 0;
           display: block;
        }
    }
    @media  screen and (min-width:1158px) {
        .foot-cont {text-align: start;}}
    .foot-label {
        display: flex;
    }
    .soc-media {
        font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    display: flex;
    align-items: baseline;
    margin-bottom: 16px;
    justify-content: center;
    }
    .footer-soc {
        display: flex;
        gap: 16px;
        justify-content: center;
    }
  
        .foot-list {width: 40px;
            height: 40px;}
            .footer-list-link {
                width: 100%;
                height: 100%;
                background-color: #4D5AE5;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                transition :background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
                .footer-list-link:hover  {background-color: #31d0aa;}
                .footer-list-link:focus {background-color: #31d0aa;}
                .foot-svg {fill:var(--primary-semiwhite-color);}
                .foot-svg:hover {
                    animation: shake 1s;
                  }
                  @keyframes shake {
                    0% {
                      transform: rotate(0deg);
                    }
                    10% {
                      transform: rotate(-10deg);
                    }
                    20% {
                      transform: rotate(10deg);
                    }
                    30% {
                      transform: rotate(-10deg);
                    }
                    40% {
                      transform: rotate(10deg);
                    }
                    50% {
                      transform: rotate(0deg);
                    }
                    100% {
                      transform: rotate(0deg);
                    } 
                  }
                  .modal-div {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(46, 47, 66, 0.4);
                    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    overflow-y: scroll;
                }
                .is-hidden {opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                }
                .modal-window {position: absolute;
                    padding: 72px 24px 24px 24px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(1);
                    width: 408px;
                    min-height: 584px;
                    background: #fcfcfc;
                    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
                    border-radius: 4px;
                    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
                }
                @media screen and (min-width:768px) {
                    .modal-window {
                        width: 95%;
                        max-width: 392px;
                        height: 95%;
                        max-height: 594px;
                        overflow: scroll;
                    }}
                .modal-p {font-weight: 500;
                    font-size: 16px;
                    line-height: 1.5;
                    text-align: center;
                    letter-spacing: 0.02em;
                color:#2E2F42;
                margin-bottom: 16px;}
                .modal-btn {position: absolute;
                    top: 24px;
                    right: 24px;
                    width: 24px;
                height: 24px;
            border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-btn:hover,
    .modal-btn:focus {background-color: #404bbf;
        border: none;
        fill: #ffffff;}
        .modal-img {transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .overlay-text {padding: 8px;
            background-color: #4D5AE5;
        position: absolute;
    top:0;
left:0;
width: 100%;
height: 100%;
transform: translateY(100%);
transition: transform 250ms ease-in-out;}
            .overlay {display: flex;
            align-items: center;
        position: relative;
    overflow: hidden;}
            .image-text {color:#F4F4FD;
                font-size: 16px;
                font-family: Roboto;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.32px;}
                .subscribe {
                    width:100%;
                }
                @media  screen and (min-width:428px) {
                    .subscribe {
                        width: 100%;
                    }}
                .subscribe-p {margin-bottom: 16px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: #ffffff;
                    margin-left: 162px;}
                    @media screen and (min-width:768px) {
                        .subscribe-p {margin-left: 100px;
                            margin-bottom: 16px;
                            font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 1.5;
                        letter-spacing: 0.02em;
                        color: #FFFFFF;
                        margin-bottom: 16px;
                        text-align: left;
                        }}
                    .foot-form {
                        gap: 24px;
                        display:block;
                    }
                
                    .foot-input {
                        width: 100%;
                        height: 40px;
                        border: 1px solid #ffffff;
                        background-color: transparent;
                        font-size: 12px;
                        line-height: 1.5;
                        letter-spacing: 0.04em;
                        padding-left: 16px;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
                        border-radius: 4px;
                        color: #ffffff; }
                 
                        .foot-btn {
                            min-width: 165px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 0 auto;
                            margin-top: 16px;
                            font-family: "Roboto", sans-serif;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 1.5;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            letter-spacing: 0.04em;
                            color: #FFFFFF;
                            cursor: pointer;
                            background-color: #4D5AE5;
                            border: none;
                            border-radius: 4px; 
                        }
                  
                    @media screen and (min-width:768px) {
                        .form {
                            padding-left: 24px;
                            padding-right: 24px;
                        }}
                    .foot-btn:hover, .foot-btn:focus {background-color: #404bbf;}
                    .label-svg {margin-left: 16px;}
                    .form-div {margin-bottom: 8px;}
                    .modal-label {font-size: 12px;
                        line-height: 1.17;
                        letter-spacing: 0.04em;
                    color:#8e8f99;
                    display: block;
                    margin-bottom: 4px;}
                    .input-div {position: relative;

                    }
                    .input-div:focus-visible {outline: none;}
                    .input {width: 100%;
                        height: 40px;
                        border: 1px solid rgba(46, 47, 66, 0.4);
                        border-radius: 4px;
                        background-color: transparent;
                        padding-left: 38px;
                        outline: transparent;
                        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    }
                    .input:focus {border-color: #4D5AE5;
                        
                    }
                    .input-svg {position: absolute;
                        left: 16px;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
                            }
                         
                    
                    .modal-text {margin-bottom: 16px}
                    .textarea {width: 100%;
                        height: 120px;
                        font-size: 12px;
                        line-height: 1.17;
                        letter-spacing: 0.04em;
                        color: rgba(46, 47, 66, 0.4);
                        border: 1px solid rgba(46, 47, 66, 0.4);
                        border-radius: 4px;
                        background-color: transparent;
                        padding: 8px 16px;
                        outline: transparent;
                        resize: none;
                        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
                        .textarea:focus {border-color: #4D5AE5;}
                        .modal-agree {margin-bottom: 24px;}
                        .label-agree {font-size: 12px;
                            line-height: 1.17;
                            letter-spacing: 0.04em;
                        color:#8e8f99;
                    }
                    .span-agree {width: 16px;
                        height: 16px;
                        border: 1px solid rgba(46, 47, 66, 0.4);
                        border-radius: 2px;
                        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        fill: transparent;}
                        .input-agree:checked + .label-agree > .span-agree {background-color:var(--primary-focus-color);
                            border: none;
                        fill:var(--primary-semiwhite-color);}
                        .a-agree {color: var(--primary-blue-color);
                        }
                        .button-agree {display: block;
                            min-width: 169px;
                            height: 56px;
                            font-family: "Roboto", sans-serif;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 1.5;
                            letter-spacing: 0.04em;
                            color: #ffffff;
                            cursor: pointer;
                            background-color: #4D5AE5;
                            border: none;
                            border-radius: 4px;
                            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                            margin: 0 auto;
                        }
                        
                        .button-agree:hover, .button-agree:focus {background-color: #404bbf}
                        .modal-h {font-family: 'Roboto', sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 24px;
                            letter-spacing: 0.32px;
                            text-align: center;
                        margin-bottom: 16px;}
                        .input:focus + .input-svg {fill: #4D5AE5;}
                       
                        
                            
                        
                       
                        
                           /* mobile menu */
                           .menu-toggle {
                            min-height: 40px;
                            min-width: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                          
                            margin: 0;
                            padding: 0;
                            background-color: transparent;
                            cursor: pointer;
                            border: none;
                            border-radius: 50%;
                            outline: none;
                          } 
                         
                          @media (min-width:481px) and (max-width:768px) {
                            .menu-toggle {display: none;}
                            
                          }
                          @media (min-width: 769px) {
                            .menu-toggle  {
                              display: none;
                            }
                          }
                          
                          .menu-toggle:hover,
                          .menu-toggle:focus {
                            background-color: rgba(0, 0, 0, 0.1);
                          }
                          
                        
                          .menu-container.is-open {
                            transform: translateX(0);
                          }
                          
                          .menu-container .menu-toggle {
                            position: absolute;
                            top: 16px;
                            right: 16px;
                            color: #fff;
                          }
                          
                            .header-mob {
                                border-bottom: 1px solid #e7e9fc;
                                padding: 23px 0;}
                                
                                .open-menu-btn {
                                    border: none;
                                background-color: transparent;
                                }
                                .mob-menu {
                                    position: fixed;
                                    width: 100vw;
                                    top: 0;
                                    z-index: 2;
                                    height: 100vh;
                                    background-color: #FFFFFF;
                                    padding: 24px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    overflow: auto;
                                    margin: auto;
                                }
                                .menu-close-btn{
                                    width: 8px;
                                    height: 8px;
                                    justify-content: center;
                                    align-items: center;
                                    flex-shrink: 0;
                                        }
                                        .close-menu-btn {
                                            width: 24px;
                                            height: 24px;
                                            display: block;
                                            position: absolute;
                                            margin-left: auto;
                                            line-height: 0;
                                            border-radius: 50%;
                                            border: 1px solid var(--main-title-color);
                                            
                                            right: 24px;
                                        }
                                        .mob-text-link {
                                            font-size: 36px;
                                             font-family: Roboto;
                                             font-style: normal;
                                             font-weight: 700;
                                             line-height: 40px;
                                             letter-spacing: 0.72px;
                                             text-transform: capitalize;
                                             color: #2e2f42;
                                             }
                                             .mob-title-item:not(:last-child){
                                                margin-bottom: 40px;
                                            }
                                            .mob-soc-list {
                                                margin-bottom: auto;}
                                                .mob-soc-item {
                                                    margin-bottom: 40px;}
                                                    .mob-soc-title {
                                                        font-size: 20px;
                                                font-family: Roboto;
                                                font-style: normal;
                                                font-weight: 500;
                                                line-height: 24px;
                                                letter-spacing: 0.4px;
                                                color: #2E2F42;
                                                    }
                                                    .tel-link {
                                                        color: #404BBF;
                                                        font-family: Roboto;
                                                font-size: 36px;
                                                font-style: normal;
                                                font-weight: 700;
                                                line-height: 40px;
                                                letter-spacing: 0.72px;
                                                text-transform: capitalize;
                                                }
                                                .mob-icons {list-style: none;
                                                    display: flex;
                                                    gap: 56px;
                                                    margin-top: 40px;
                                                }
                                                    .mael-link {
                                                        color: #434455;
                                                    font-size: 20px;
                                                    font-style: normal;
                                                    font-weight: 500;
                                                    line-height: 1.2;
                                                    letter-spacing: 0.02em;
                                                    }
                                                    .mob-icon-team {
                                                        width: 40px;
                                                        height: 40px;
                                                        background-color: var(--color-two);
                                                        border-radius: 50%; 
                                                        gap: 24px;
                                                    }
                                                    .mob-sending {
                                                        width: 100%;
                                                        height: 100%;
                                                        background-color:var(--primary-blue-color);
                                                        border-radius: 50%;
                                                        display: flex;
                                                        text-align: center;
                                                        justify-content: center;
                                                        align-items: center;
                                                        transition :background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                                    }
                                                    .mobile-menu-list {padding-left: 20px;}
                                                    .soc-media-foot {
                                                        display: block;
                                                        text-align: center;
                                                        margin: 0 auto;
                                                    }
                                                    @media screen and (min-width:768px) {
                                                        .soc-media-foot {
                                                            display: block;
                                                            text-align: center;
                                                            margin: 0 auto 0 0;
                                                        }}
                                                      
    
    @media screen and (min-width: 768px) {
        .hero-wrap {	
            padding: 112px 0;
            background-image: linear-gradient(), url(../images/hero.desktop.jpg);
            }
            
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            .hero-wrap {
            background-image: linear-gradient(), url(../images/hero-descktop.x2-2x.jpg);
            }
            }
    
    .open-menu-btn {
        display: none;
    }
    .foot-form {padding-left: 100px;
        display: flex;
    flex-direction: row;
    align-items: unset;
    }
    .foot-btn {
        margin: 0;
    }

    .foot-input {
        width: 264px;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: #ffffff; 
    }
}
@media  screen and (min-width:1158px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }} 
    @media screen and (min-width: 768px) {
        .container {
            max-width: 768px; 
                }
                .hero-wrap {	
                  padding: 112px 0;
                  background-image: linear-gradient(), url(../images/tablet.people.office.jpg);
                  }
                  
                  @media (min-device-pixel-ratio: 2),
                  (min-resolution: 192dpi),
                  (min-resolution: 2dppx) {
                  .hero-wrap {
                  background-image: linear-gradient(), url(../images/tab.people.x2-2x.jpg);
                  }
                  }
  
              
              
        .div {
            align-items: center;
            display: flex; 
            justify-content: space-between; 
            padding: 0 15px 0 15px; 
            }
       
         .header-adr-item {
        display: list-item;
            text-align: -webkit-match-parent;
        } 
        .open-menu-btn {
            display: none;
            }
         .list-nav {
            display: flex;
            align-items: center;
            padding: 24px 0;
            gap: 40px;
            color:  #2E2F42;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.32px;
            } 
  
        .header-adr {
            font-style: normal;
            display: flex; 
          }
        .section-hero {
            display: flex;
            max-width: 768px;
                margin-left: auto; 
                margin-right:auto;
                background-position: center;
                
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
                    url(../images/darkpgtablet.jpg) ;
                    background-repeat:no-repeat ;
                    background-size:cover;         
            }
        @media (min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) { 
            .section-hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
                url(../images/darkpgtablet.jpg) ;
                background-repeat:no-repeat ;
                background-size:cover;
            }  
        }
  
        .hero-title {
            display: flex;
         min-width: 496px;
            height: 120px;
             margin-bottom: 36px; 
            font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 1.12px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 36px;
        }
        .namepower{
            display: flex;
        }
   
        .adv-li {
            max-width: unset; 
            width:calc((100% - 24px) / 2 ); 
            
        }
        .companies-list {
            gap: 72px 24px;
            justify-content: center;
           
        } 
        .section-customers {
          padding-top: 120px;
          padding-bottom: 120px;
      }
   
          .foot-input {
          width: 264px;
          height: 40px;
          border: 1px solid #ffffff;
          background-color: transparent;
          font-size: 12px;
          line-height: 1.5;
          letter-spacing: 0.04em;
          padding-left: 16px;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          border-radius: 4px;
          color: #ffffff; 
      }
   
        .list-photo-cv {
            gap: 72px 24px ;
  
        } 
        .photo {
            max-width: unset;
            width: calc((100% - 24px) / 2 );
            width: 100%;
            max-width: 264px;
        }
    
        
        
  
        .footer-p {
          max-width: 268px;
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          color: #ffffff;
        }
        .footer-soc {
          display: flex;
          cursor: pointer;
          justify-content: center;
          align-items: center;
          gap: 16px;
        }
      
        .subscribe {
          width: 100%;
        }
      
      }
      .subscribe-p {
          text-align: unset;
          margin-top:0;
      }
     
        
        
        
        .footer-link {
            justify-content: flex-start;
        }
        
        
        @media screen and (min-width: 1158px) {
            .container {
              max-width: 1158px;
              padding-left: 15px;
              padding-right: 15px;
            } 
        .open-menu-btn {
            display: none;
        }
        .section-hero {
          display: flex;
            max-width: 1440px;
            padding-top: 192px; 
            padding-bottom: 188px;  
            height: 600px;
            margin-left: auto; 
            margin-right:auto;
            background-position: center;
        
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
                url(../images/people.jpg) ;
                background-repeat:no-repeat ;
                background-size:cover;
        }
        @media (min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) { 
            .section-hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
                url(../images/people.jpg) ;
                background-repeat:no-repeat ;
                background-size:cover;
            }  
        }
        .list-adv {
          gap: 72px 24px;
          flex-wrap: nowrap;
    }
  .header {
      border-bottom: 1px solid #e7e9fc;
      box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
    .namepower {
      font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-align: center;
    }
    .paragraf {
      font-size: 16px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.32px;
    }
    .icons {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 112px;
      background-color: #f4f4fd;
      border-radius: 4px;
      margin-bottom: 8px;
  }
  .mob-menu {
      display: none;
  }
      .logo {
          font-family: "Raleway", sans-serif;
          font-weight: 800;
          font-size: 18px;
          line-height: 1.17;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: var(--color-two);
         margin-right: 76px;
          position: relative;
               color: #404bbf;
          }
      .section-advantages {
          padding: 120px 0;
      }
        .companies-list {
            flex-wrap: nowrap;
            gap: 24px;
        }
        .companies {
             max-width: unset; 
             width: calc((100% - 120px) / 6);
             width: 168px;
             height: 88px;  
        }
       
           
        }